body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.1875;
	margin: 0;
	padding: 0;
}


li {
    list-style: none;
}

.form-wrapper {
    border-radius: 10px;
}

.form-wrapper label {
    font-weight: bold;
}

.errors li {
    list-style: none;
    width: 100%;
    text-align: center;
}

.errors ul {
    padding-left: 0;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .form-wrapper .text-right {
        text-align: center !important;
    }
}

.reglogBackground {
    background-image: url(http://localhost/assets/img/logreg/logreg.jpg);
    background-size: cover;
}

.reglogpanel {
    background-color: #100c28b3;
}

#PageHeader>.row>.col-1 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    width: 16.66666667%;
    text-align: left;
    height: 0px;
}

#wb_FontAwesomeIcon1 {
    background-color: transparent;
    background-image: none;
    border: 0px solid #454545;
    border-radius: 0px;
    text-align: center;
    margin: 0;
    padding: 15px 15px 15px 15px;
    vertical-align: top;
    display: inline-block;
    position: relative;
}

#FlexGrid1 {
    display: grid;
    height: 50vh;
    background-color: transparent;
    background-image: none;
    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas: "soltaraf ortataraf ortataraf sagtaraf";
}

#FlexGrid1 .soltaraf {
    display: flex;
    grid-area: soltaraf;
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    padding: 0;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin-left: 75px;
    margin-top: 26px;
    margin-right: 26px;
    border-radius: 10px 10px 10px 10px;
}

#FlexGrid1 .ortataraf {
    display: flex-root;
    grid-area: ortataraf;
    background-color: transparent;
    background-image: none;
    border-radius: 0px;
    padding: 0;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin-top: 25px;
    border-radius: 10px 10px 10px 10px;
}

#FlexGrid1 .sagtaraf {
    display: flex;
    grid-area: sagtaraf;
    background-color: transparent;
    background-image: none;
    border: 0px solid #FFFFFF;
    border-radius: 0px;
    padding: 0;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    margin-left: 75px;
    margin-top: 26px;
    margin-right: 26px;
    border-radius: 10px 10px 10px 10px;
}

.vertical-menu {
    width: 100%;
    /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee;
    /* Grey background color */
    color: black;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc;
    /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #04AA6D;
    /* Add a green color to the "active/current" link */
    color: white;
}